.logo-style {
  height: 36px;
}

@media (prefers-reduced-motion: no-preference) {
  .MuiSvgIcon-root[data-testid='SettingsIcon'] {
    animation: logo-spin infinite 10s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
