
body {
  background-color: #fff;
  padding: 0 20px;
}

.App {
  height: 100%;
}
.workspace {
  padding: 0 24px;
}

.bft-search {
  top: 10px !important;
  position: fixed !important;
}

.workspace h1 {
  padding: 20px 0;
  color: rgb(0, 14, 75);
  text-align: left;
  line-height: 50px;
  font-size: 2rem;
}

